@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Russo+One&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./files/images/wg_minimal_web_pattern_14.png");
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.add-book-btn {
  border-top-left-radius: 0; /* Remove the top-left border radius */
  border-bottom-left-radius: 0; /* Remove the bottom-left border radius */
}
.book-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.book-card {
  width: 15rem;
  height: 17rem;
  margin: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.book-card .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.book-description,
.reader-reviews {
  max-height: 350px;
  overflow-y: auto;
}

.book-image-container {
  margin-bottom: 10px;
}

.book-image {
  width: 250px;
  border: 2px solid #000;
}

.book-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-link {
  text-decoration: none;
  color: inherit;
}

.card-footer .fa-pencil:hover,
.card-footer .fa-trash-can:hover {
  color: blue;
}

.card-footer .fa-pencil,
.card-footer .fa-trash-can,
.book-title {
  cursor: pointer;
}

.card-title {
  margin: 0.5;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.challenge-logo {
  height: 400px;
}

.input-reader-field {
  width: calc(100% - 5px); /* Adjust the width to make it extend to the button */
  border-radius: 0px !important;
}

.my-readers {
  padding: 10px;
  gap: 15px;
  justify-content: center;
  display: grid,
}

.navbar-brand {
  padding-left: 20px
}

.navbar-gradient {
  background: linear-gradient(to left, black, grey) !important;
}
.navbar-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  color: grey !important;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #fff !important;
  outline: none;
}

.reader-avatar {
  height: 200px;
  width: 100%;
}

.readers {
  padding-top: 10px;
}

.readers .reader-card-link {
  flex-shrink: 0;
  width: 15rem;
  text-decoration: none;
  color: inherit;
}

.readers .reader-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.reader-book-table {
  background-color: white;
}
.reader-card {
  flex: 0 0 calc(33.33% - 10px);
  width: 15rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
  transition: transform 0.3s ease;
}

.reader-details-card {
  width: 15rem;
  height: 330px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
}

.reader-reviews {
  border: 3px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.red-required {
  color: red
}

.search-results-container {
  grid-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.selected-avatar {
  height: 200px;
  width: 100%
}

.user-circle {
  height: 75px;
}