@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Russo+One&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  padding-left: 20px
}

.navbar-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  color: grey !important;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #fff !important;
  outline: none;
}

.red-required {
  color: red
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.selected-avatar {
  height: 200px;
  width: 100%
}

.my-readers {
  padding: 10px;
  gap: 15px;
  justify-content: start;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap !important;
}

.reader-avatar {
  height: 200px;
  width: 100%;
}

.readers {
  padding-top: 10px;
}

.readers .reader-card-link {
  flex-shrink: 0;
  width: 15rem;
  text-decoration: none;
  color: inherit;
}

.readers .reader-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.reader-card {
  flex: 0 0 calc(33.33% - 10px);
  width: 15rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
  transition: transform 0.3s ease;
}

.reader-details-card {
  width: 15rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
}

.card-title {
  margin: 0.5;
}

.book-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.book-card {
  width: 15rem;
  height: 17rem;
  margin: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.book-card .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.book-image-container {
  margin-bottom: 10px;
}

.book-image {
  width: 250px;
  border: 2px solid #000;
}

.book-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-link {
  text-decoration: none;
  color: inherit;
}

.search-results-container {
  grid-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.fa-pencil:hover,
.fa-trash-can:hover {
  color: blue;
}

.fa-pencil,
.fa-trash-can {
  cursor: pointer;
}